*~
*.o
*.elf
fake6502/*.o
osiemu
osiemu-launcher
osiemu.exe
osiemu-launcher.exe
.depend
tools/xex2lod
tools/*.lod
tools/hfe2osi
tools/osi2hfe
tools/mirrorbytes
tools/*.bas
tools/txt2bas
tools/img2osi
tapeout.dat
launcher/src/launcher.pro.user
launcher/build*
