--video-mode 540b
--mono-color white
--aspect 4:3
--zoom 2
--color-mode 540b
--saturation 0.75
--hires-mode none
--smooth-video
--frame-rate 540col
--invert-keyboard
--sound-mode none
--sound-bufsize 256
--cpu-speed 540col
--tape-baseclock 4800
--tape-location 0xfc00
--kernel kernel/syn-505-c2c4-540-hdm.rom
--floppy0 cpm65/osi500f.os8
--floppy1 cpm65/osif-b.os8
--switches nobasic
