--disable-video
--mono-color white
--aspect 4:3
--zoom 2
--color-mode monochrome
--saturation 0.75
--hires-mode none
--frame-rate 60
--invert-keyboard
--sound-mode none
--sound-bufsize 256
--cpu-speed 540col
--tape-baseclock 19200
--tape-location 0xfc00
--kernel kernel/syn-c3-serial-hdm.rom
--tape-input /dev/pts/3
--tape-output /dev/pts/3
--floppy0 cpm65/osiserf.os8
--floppy1 cpm65/osif-b.os8
--switches nobasic
