--video-mode 600
--mono-color white
--aspect full
--zoom 2
--color-mode monochrome
--saturation 0.75
--hires-mode none
--frame-rate 60
--sound-mode none
--sound-bufsize 256
--cpu-speed quarter
--tape-baseclock 4800
--tape-location 0xf000
--kernel kernel/syn-600-c1-dcwm.rom
--floppy0 disks/c1p-os65d-3.3-tutorials.os5
