--video-mode 540b
--mono-color white
--aspect full
--zoom 2
--color-mode monochrome
--saturation 0.75
--hires-mode 541
--frame-rate 540bw
--invert-keyboard
--sound-mode none
--sound-bufsize 256
--cpu-speed 540bw
--tape-baseclock 4800
--tape-location 0xf000
--kernel kernel/syn-505-c2c4-540-hdm.rom
--floppy0 disks/disk11-os65d-hires-541.os5
--switches hires
--inverse-caps
