--video-mode 600
--mono-color white
--aspect full
--zoom 2
--color-mode 630
--saturation 0.75
--hires-mode none
--frame-rate 60
--sound-mode none
--sound-bufsize 256
--cpu-speed quarter
--tape-baseclock 153600
--tape-location 0xf000
--kernel kernel/syn-600-c1-dcwm.rom
--tape-input tests/colortest-630.lod
--inverse-caps
