--video-mode 540b
--mono-color white
--aspect full
--zoom 2
--color-mode monochrome
--saturation 0.75
--hires-mode 541
--frame-rate 540bw
--invert-keyboard
--sound-mode none
--sound-bufsize 256
--cpu-speed quarter
--tape-baseclock 153600
--tape-location 0xfc00
--kernel kernel/syn-500-502-c2c4-540-cwm.rom
--tape-input tests/hirestest.lod
--switches hires
--inverse-caps
