--video-mode 540b
--mono-color amber
--aspect 4:3
--zoom 2
--color-mode monochrome
--saturation 0.75
--hires-mode none
--scanlines
--smooth-video
--frame-rate 540bw
--invert-keyboard
--sound-mode 542b
--sound-bufsize 256
--cpu-speed 540bw
--tape-baseclock 153600
--tape-location 0xfc00
--kernel kernel/syn-500-502-c2c4-540-cwm.rom
--tape-input tests/sound542b-2.lod
--switches hires
