--video-mode 32x32
--mono-color white
--aspect full
--zoom 2
--color-mode 440b
--saturation 0.75
--hires-mode 440b
--frame-rate 60
--ascii-keyboard
--sound-mode none
--sound-bufsize 256
--cpu-speed 510c-slow
--tape-baseclock 153600
--tape-location 0xfc00
--kernel kernel/osi-400-ascii-65v.rom
--tape-input tests/test_440b.lod
--switches nobasic,hires
